<div class="container">
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <!--<h1>Our Team</h1>-->
            <!--<p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>-->
            <h1>{{$ctrl.header | translate}}</h1>
            <p>{{$ctrl.description | translate}}</p>
        </div>
    </div>
    <div class="row">
        <div ng-repeat="member in $ctrl.members" class="col-sm-4 wow" ng-class="{fadeInLeft: $index < 1, zoomIn: $index === 1, fadeInRight: $index > 1}">
            <div class="team-member">
                <img ng-src="{{member.avatar}}" class="img-responsive img-circle" ng-class="{'img-small': $index !== 1}" alt="">
                <h4><span class="navy">{{member.highlightName}}</span> {{member.name}}</h4>
                <p translate="{{member.description}}"></p>
                <ul class="list-inline social-icon">
                    <li ng-if="member.twitter"><a ng-href="{{member.twitter}}"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li ng-if="member.facebook"><a ng-href="{{member.facebook}}"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li ng-if="member.linkedin"><a ng-href="{{member.linkedin}}"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
        </div>

        <!--<div class="col-sm-4 wow fadeInLeft">-->
            <!--<div class="team-member">-->
                <!--<img src="img/avatar3.jpg" class="img-responsive img-circle img-small" alt="">-->
                <!--<h4><span class="navy">Amelia</span> Smith</h4>-->
                <!--<p>Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus. </p>-->
                <!--<ul class="list-inline social-icon">-->
                    <!--<li><a href="#"><i class="fa fa-twitter"></i></a>-->
                    <!--</li>-->
                    <!--<li><a href="#"><i class="fa fa-facebook"></i></a>-->
                    <!--</li>-->
                    <!--<li><a href="#"><i class="fa fa-linkedin"></i></a>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-sm-4">-->
            <!--<div class="team-member wow zoomIn">-->
                <!--<img src="img/avatar1.jpg" class="img-responsive img-circle" alt="">-->
                <!--<h4><span class="navy">John</span> Novak</h4>-->
                <!--<p>Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.</p>-->
                <!--<ul class="list-inline social-icon">-->
                    <!--<li><a href="#"><i class="fa fa-twitter"></i></a>-->
                    <!--</li>-->
                    <!--<li><a href="#"><i class="fa fa-facebook"></i></a>-->
                    <!--</li>-->
                    <!--<li><a href="#"><i class="fa fa-linkedin"></i></a>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-sm-4 wow fadeInRight">-->
            <!--<div class="team-member">-->
                <!--<img src="img/avatar2.jpg" class="img-responsive img-circle img-small" alt="">-->
                <!--<h4><span class="navy">Peter</span> Johnson</h4>-->
                <!--<p>Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.</p>-->
                <!--<ul class="list-inline social-icon">-->
                    <!--<li><a href="#"><i class="fa fa-twitter"></i></a>-->
                    <!--</li>-->
                    <!--<li><a href="#"><i class="fa fa-facebook"></i></a>-->
                    <!--</li>-->
                    <!--<li><a href="#"><i class="fa fa-linkedin"></i></a>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
            <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>-->
            <p>{{$ctrl.summary | translate}}</p>
        </div>
    </div>
</div>