<div class="container">
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>{{$ctrl.header | translate}}</h1>
            <p>{{$ctrl.description | translate}}</p>
        </div>
    </div>
    <div class="row m-b-lg">
        <div class="col-lg-3 col-lg-offset-3">
            <address>
                <strong><span class="navy">{{$ctrl.company.name | translate}}</span></strong><br/>
                <span translate="{{$ctrl.company.address | translate}}"></span>
                <!--{{$ctrl.company.address1}}<br/>-->
                <!--{{$ctrl.company.address2}}<br/>-->
                <abbr title="Phone">P:</abbr> {{$ctrl.company.phone}} <br>
                <abbr title="Email">E:</abbr> {{$ctrl.company.email}}
            </address>
        </div>
        <div class="col-lg-4">
            <p class="text-color">
                {{$ctrl.company.description | translate}}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="visible-xs visible-sm">
                <a data-ng-href="tel:{{$ctrl.company.phone}}" class="btn btn-primary">{{'ACTION_EMAIL' | translate}}</a>
                <p class="m-t-sm">
                    {{'ACTION_FOLLOW' | translate}}
                </p>
            </div>
            <ul class="list-inline social-icon">
                <li data-ng-if="$ctrl.company.twitter"><a data-ng-href="{{$ctrl.company.twitter}}"><i class="fa fa-twitter"></i></a>
                </li>
                <li data-ng-if="$ctrl.company.facebook"><a data-ng-href="{{$ctrl.company.facebook}}"><i class="fa fa-facebook"></i></a>
                </li>
                <li data-ng-if="$ctrl.company.linkedin"><a data-ng-href="{{$ctrl.company.linkedin}}"><i class="fa fa-linkedin"></i></a>
                </li>
                <li data-ng-if="$ctrl.company.instagram"><a data-ng-href="{{$ctrl.company.instagram}}"><i class="fa fa-instagram"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
            <p><strong>&copy; 2018 Quyen Phan</strong><br/> {{$ctrl.summary | translate}}</p>
        </div>
    </div>
</div>