<div class="container">
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>{{$ctrl.header | translate}}</h1>
            <p>{{$ctrl.description | translate}}</p>
        </div>
    </div>
    <div class="row">
        <div data-ng-repeat="price in $ctrl.prices" class="col-lg-4 wow zoomIn">
            <ul class="pricing-plan list-unstyled" data-ng-class="{selected: $middle}">
                <li class="pricing-title">
                    {{price.title | translate}}
                </li>
                <li class="pricing-desc">
                    {{price.description | translate}}
                </li>
                <li ng-if="price.price" class="pricing-price">
                    <span translate="{{price.price}}"></span> / {{price.unit | translate}}
                </li>
                <li data-ng-repeat="item in price.items">
                    {{item | translate}}
                </li>
                <!--<li>-->
                    <!--<a class="btn btn-primary btn-xs" href="#">Signup</a>-->
                <!--</li>-->
            </ul>
        </div>
    </div>
    <div class="row m-t-lg">
        <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg">
            <p>{{$ctrl.summary}}</p>
        </div>
    </div>
</div>