<div class="footer fixed">
	<div class="pull-right">
		<strong>OZ Sales Demo System</strong>
	</div>
	<div>
		<!--<strong>Copyright</strong> FORCS Company &copy; 2017-->
		<strong class="hidden-sm hidden-xs">Copyright</strong> <strong>&copy;</strong> FORCS Singapore
	</div>
</div>
