<nav class="navbar-default navbar-static-side" role="navigation" ng-controller="navigationCtrl">
	<div class="sidebar-collapse">
		<ul side-navigation class="nav metismenu" id="side-menu">
			<li class="nav-header">
				
				<div style='height: 125px;' class="profile-element" uib-dropdown>
					<div style='height: 132px; background-color:#2f4050; margin-left: -25px; margin-right: -25px; margin-top: -35px; border: 1px solid #2f4050;'>
						<div ng-style="logoStyles">
							<img alt="image" ng-style="imgStyles" src="statics/img/ozsds-logo-white.png" ng-src="{{logoImg}}"/>
						</div>
						<!--<span style='margin-left: 25px; font-size: 11px; color: #fff;'>
							Sales Demo System<br>
						</span>-->

					</div>
				</div>
				<div class="logo-element" style='font-size: 17px; padding: 7px 0;'>
					<img alt="image" ng-style="smImgStyles" src="statics/img/side_logo.png" ng-src="{{smLogoImg}}"/>
				</div>
			</li>
			
			<li i-sref-active="active">
				<a href=""><i class="fa fa-download"></i> <span class="nav-label">{{ 'Quick Start' | translate}}</span><span class="fa arrow"></span></a>
				<ul class="nav nav-second-level collapse">
					<li ui-sref-active="active"><a href="http://211.116.251.148:5000/sharing/sAwVyW5b6" target="_blank">Quick Start Guide</a></li>
					<li ui-sref-active="active"><a href="http://211.116.251.148:5000/sharing/5A2EPlD7Z" target="_blank">User Manual</a></li>
					<li ui-sref-active="active"><a href="http://211.116.251.148:5000/sharing/ewdz5Jhvk" target="_blank">Download OZ Designer</a></li>
				</ul>
			</li>
				
			<li ng-class="{active: $state.includes('forms')}">
				<a href=""><i class="fa fa-folder-open"></i> <span class="nav-label">{{ 'Demo Repository' | translate }}</span><span class="fa arrow"></span></a>
				<ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('forms')}">
					<li ui-sref-active="active"><a ui-sref="web.forms.general">General<span class="hidden-sm hidden-xs"> Demo</span></a></li>
					<li ui-sref-active="active"><a ui-sref="web.forms.my">My<span class="hidden-sm hidden-xs"> Demo</span></a></li>
				</ul>
			</li>
			
			<li ui-sref-active="active">
				<a ui-sref="web.complete.list"><i class="fa fa-tasks"></i> <span class="nav-label">{{ 'Completed List' | translate }}</span> </a>
			</li>
			
			<li class="nav-divider"></li>
			
			<li ng-class="{active: $state.includes('users') || $state.includes('companies')}">
				<a href=""><i class="fa fa-user"></i> <span class="nav-label">{{ 'Account Management' | translate }}</span><span class="fa arrow"></span></a>
				<ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('users') || $state.includes('companies')}">
					<li ng-if="userRoleCode !== '1'" ui-sref-active="active"><a ui-sref="web.companies.list">Company</a></li>
					<li ui-sref-active="active"><a ui-sref="web.users.list">User</a></li>
				</ul>
			</li>

			<li ng-if="userCompanyName === 'FORCS_SG'" ng-class="{active: $state.includes('json') || $state.includes('customer') || $state.includes('collector')}">
				<a href=""><i class="fa fa-inbox"></i> <span class="nav-label">{{ 'Data Management' | translate }}</span><span class="fa arrow"></span></a>
				<ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('json') || $state.includes('customer') || $state.includes('collector')}">
					<!--<li ui-sref-active="active"><a ui-sref="partners.company_list">Company</a></li>-->
					<li ui-sref-active="active"><a ui-sref="web.json.list">JSON</a></li>
					<li ui-sref-active="active" class="hidden-xs hidden-sm"><a ui-sref="web.customer">Report Link Generator</a></li>
					<li ui-sref-active="active" class="hidden-xs hidden-sm" ng-if="userRoleCode==='2'" ><a ui-sref="web.collector.files">Collectors</a></li>
				</ul>
			</li>
		</ul>
	</div>
</nav>