<div class="row border-bottom" ng-controller="authController">
	<nav class="navbar navbar-static-top" role="navigation" style="margin-top: -13px; margin-bottom: -10px; height: 20px;">
		
		<div class="navbar-header">
			<span minimaliza-sidebar></span>
		</div>
		<ul class="nav navbar-top-links navbar-right">
			<li>
				<span style='font-weight: bold; color: #888888; font-size: 13px;'>{{companyName}}</span>
			</li>
			<li>
				<a ng-click="logout()">
					<i class="fa fa-sign-out"></i> <span style='font-size: 13px'>Log out</span>
				</a>
			</li>
		</ul>
	</nav>
	
</div>