#wh-widget-send-button {
    margin: 0 !important;
    padding: 0 !important;
    position: fixed !important;
    z-index: 16000160 !important;
    bottom: 0 !important;
    text-align: center !important;
    height: 90px;
    width: 60px;
    visibility: visible;
    transition: none !important;
}

#wh-widget-send-button.wh-widget-right {
    right: 0;
}

#wh-widget-send-button.wh-widget-left {
    left: 10px;
}

#wh-widget-send-button iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

div.clear {
    clear: both;
}