<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <!--<h1>More and more extra great feautres</h1>-->
            <!--<p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. </p>-->
            <h1>{{$ctrl.header | translate}}</h1>
            <p translate="{{$ctrl.description}}"></p>
        </div>
    </div>
    <div class="row" data-ng-repeat="item in $ctrl.additionFeatures">
        <div data-ng-if="$even">
            <div class="col-lg-5 col-lg-offset-1 features-text">
                <small>{{item.title | translate}}</small>
                <h2>{{item.name | translate}}</h2>
                <i class="big-icon pull-right" data-ng-class="item.icon"></i>
                <p translate="{{item.description}}"></p>
                <p ng-if="item.photo.length > 0"><a class="navy-link" ng-click="showDetail(item)" role="button">{{"COMMON_DETAILS" | translate}} &raquo;</a></p>
            </div>
            <div data-ng-if="!$last && $ctrl.additionFeatures.length > 1" class="col-lg-5 features-text">
                <small>{{$ctrl.additionFeatures[$index+1].title | translate}}</small>
                <h2>{{$ctrl.additionFeatures[$index+1].name | translate}}</h2>
                <i class="big-icon pull-right" data-ng-class="$ctrl.additionFeatures[$index+1].icon"></i>
                <p translate="{{$ctrl.additionFeatures[$index+1].description}}"></p>
                <p ng-if="$ctrl.additionFeatures[$index+1].photo.length"><a class="navy-link" ng-click="showDetail($ctrl.additionFeatures[$index+1])" role="button">{{"COMMON_DETAILS" | translate}} &raquo;</a></p>
            </div>
        </div>
    </div>
</div>