<div class="ibox-tools" uib-dropdown  ng-click="showhide()">
	<i class="fa fa-chevron-up"></i>
	<a ng-click="fullscreen()">
		<i class="fa fa-expand"></i>
	</a>
	<a href uib-dropdown-toggle>
		<!--<i class="fa fa-wrench"></i>-->
	</a>
</div>