<div class="tabs-container">
    <uib-tabset class="tabs-left">
        <uib-tab ng-repeat="tab in $ctrl.appStates" heading="{{tab.heading}}" active="tab.active"
                 select="$ctrl.tabSelected(tab.route)">
            <div class="panel-body" ui-view>

            </div>
        </uib-tab>
    </uib-tabset>
</div>