<nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
    <ul class="nav navbar-top-links navbar-right">
        <li>
            <a ui-sref="login">
                <i class="fa fa-sign-out"></i> Log out
            </a>
        </li>
    </ul>
</nav>

<div class="jumbotron">

    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading" style="text-align: center">
                <img ng-style="imgStyles" alt="" src="./statics/img/ozsds-logo-white.png" ng-src="{{logoImg}}">
            </div>
            <div class="panel-body">
                <!-- Main view  -->
                <ui-view></ui-view>
            </div>
        </div>
    </div>
</div>
