<div class="modal-header">
    <h3 class="modal-title">{{title | translate}}</h3>
</div>
<div class="modal-body">
    <div uib-carousel interval="interval" active="active" ng-style="{height: 'auto'}">
        <div uib-slide ng-repeat="photo in album"  index="$index" ng-style="{height: 'auto'}">
            <img class="img-responsive" ng-src="{{photo.path}}" style="margin:auto;">
            <div class="carousel-caption">
                <h4>{{photo.header | translate}}</h4>
                <p translate="{{photo.description}}"></p>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="$ctrl.close()">{{'BTN_CANCEL' | translate}}</button>
</div>