<div class="modal-header">
    <h3 class="modal-title">{{title | translate}}</h3>
</div>
<div class="modal-body">
    <div class="form-horizontal">
        <div class="row">
            <!-- photo -->
            <div ng-if="photo" class="col-lg-12">
                <div uib-carousel interval="interval" active="active" ng-style="{height: 'auto'}">
                    <div uib-slide ng-repeat="item in photo"  index="$index" ng-style="{height: 'auto'}">
                        <img class="img-responsive" ng-src="{{item}}" style="margin:auto;">
                    </div>
                </div>
            </div>

            <!-- details -->
            <div class="col-lg-12" ng-if="details && details.length > 0">
                <div class="row">
                    <div class="col-sm-12">
                        <h2 class="text-center">{{'PROJECT_DETAIL_TITLE' | translate}}</h2>
                    </div>
                    <div class="navy-line"></div>
                </div>

                <div ng-repeat="detail in details | limitTo: quantity" class="form-group col-lg-12">
                    <label class="col-sm-2 control-label">{{detail.title | translate}}</label>
                    <div class="col-sm-10">
                        <p class="text-left" ng-style="{'padding-top' : '7px'}" translate="{{detail.content}}"></p>
                    </div>
                </div>

                <div ng-if="details.length > maxQuantity" class="col-sm-offset-2 col-sm-10">
                    <a  ng-show="quantity === maxQuantity" class="text-left" ng-click="changeQuantity(details.length)">{{'BTN_SHOW_MORE' | translate}} <i class="fa fa-caret-down"></i></a>
                    <a  ng-show="quantity !== maxQuantity" class="text-left" ng-click="changeQuantity(maxQuantity)">{{'BTN_HIDE' | translate}} <i class="fa fa-caret-up"></i></a>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="$ctrl.close()">{{'BTN_CANCEL' | translate}}</button>
</div>