<div class="modal-header">
    <h3 class="modal-title">{{title | translate}}</h3>
</div>
<div class="modal-body">
    <div class="lightBoxGallery">
        <a ng-repeat="photo in album" ng-href="{{photo.path}}" title="{{photo.title}}" data-gallery=""><img class="img-small m-l-xs" ng-src="{{photo.path}}"></a>

        <!-- The Gallery as lightbox dialog, should be a child element of the document body -->
        <div id="blueimp-gallery" class="blueimp-gallery">
            <div class="slides"></div>
            <h3 class="title"></h3>
            <a class="prev">‹</a>
            <a class="next">›</a>
            <a class="close">×</a>
            <a class="play-pause"></a>
            <ol class="indicator"></ol>
        </div>

    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="$ctrl.close()">{{'BTN_CANCEL' | translate}}</button>
</div>