<div class="row">
    <div class="col-lg-12 text-center">
        <div class="navy-line"></div>
        <!--<h1>Over 40+ unique view<br/> <span class="navy"> with many custom components</span> </h1>-->
        <!--<p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. </p>-->
        <h1>{{$ctrl.header | translate}}<br/> <span class="navy"> {{$ctrl.highlight | translate}}</span> </h1>
        <p>{{$ctrl.description | translate}} </p>
    </div>
</div>
<div class="row">
    <div class="col-md-3 text-center wow fadeInLeft">
        <div ng-repeat="feature in $ctrl.leftFeatures" ng-class="{'m-t-lg': !$first}">
            <i class="features-icon" ng-class="feature.icon"></i>
            <h2>{{feature.title | translate}}</h2>
            <p translate="{{feature.description}}"></p>
            <p ng-if="feature.details"><a class="navy-link" ng-click="showDetail($index + 1, feature)" role="button">{{"COMMON_DETAILS" | translate}} &raquo;</a></p>
        </div>
        <!--<div>-->
            <!--<i class="fa fa-mobile features-icon"></i>-->
            <!--<h2>Full responsive</h2>-->
            <!--<p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>-->
        <!--</div>-->
        <!--<div class="m-t-lg">-->
            <!--<i class="fa fa-bar-chart features-icon"></i>-->
            <!--<h2>6 Charts Library</h2>-->
            <!--<p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>-->
        <!--</div>-->
    </div>
    <div class="col-md-6 text-center  wow zoomIn">
        <img ng-src="{{$ctrl.featureImg}}" alt="dashboard" class="img-responsive">
    </div>
    <div class="col-md-3 text-center wow fadeInRight">
        <div ng-repeat="feature in $ctrl.rightFeatures" ng-class="{'m-t-lg': !$first}">
            <i class="features-icon" ng-class="feature.icon"></i>
            <h2>{{feature.title | translate}}</h2>
            <p translate="{{feature.description}}"></p>
            <p ng-if="feature.details"><a class="navy-link" ng-click="showDetail($ctrl.leftFeatures.length + $index + 1, feature)" role="button">{{"COMMON_DETAILS" | translate}} &raquo;</a></p>
        </div>
        <!--<div>-->
            <!--<i class="fa fa-envelope features-icon"></i>-->
            <!--<h2>Mail pages</h2>-->
            <!--<p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>-->
        <!--</div>-->
        <!--<div class="m-t-lg">-->
            <!--<i class="fa fa-google features-icon"></i>-->
            <!--<h2>AngularJS version</h2>-->
            <!--<p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>-->
        <!--</div>-->
    </div>
</div>