<div class="row">
    <div class="col-lg-12 text-center">
        <div class="navy-line"></div>
        <h1>{{$ctrl.header | translate}}</h1>
        <p translate="{{$ctrl.description}}"></p>
    </div>
</div>
<div class="row features-block">
    <div ng-if="!$ctrl.reverse">
        <div class="col-lg-6 features-text wow fadeInLeft">
            <small>{{$ctrl.highlight | translate}}</small>
            <h2>{{ $ctrl.title | translate }}</h2>
            <p translate="{{$ctrl.content}}"></p>
            <a ng-if="$ctrl.actionText" ng-click="$ctrl.action()" class="btn btn-primary">{{$ctrl.actionText | translate}}</a>
        </div>
        <div class="col-lg-6 text-right wow fadeInRight">
            <img ng-src="{{$ctrl.photo}}" alt="dashboard" class="img-responsive pull-right">
        </div>
    </div>
    <div ng-if="$ctrl.reverse">
        <div class="col-lg-6 text-left  wow fadeInLeft">
            <img ng-src="{{$ctrl.photo}}" alt="dashboard" class="img-responsive pull-left">
        </div>
        <div class="col-lg-6 features-text text-right wow fadeInRight">
            <small>{{$ctrl.highlight | translate}}</small>
            <h2>{{ $ctrl.title | translate }}</h2>
            <p translate="{{$ctrl.content}}"></p>
            <a ng-if="$ctrl.actionText" ng-click="$ctrl.action()" class="btn btn-primary">{{$ctrl.actionText | translate}}</a>
        </div>
    </div>
</div>