<div class="row">
    <div class="col-lg-12 text-center">
        <div class="navy-line"></div>
        <h1>{{$ctrl.header | translate}}</h1>
        <p translate="{{$ctrl.description}}"></p>
    </div>
</div>
<div class="row features-block">
    <div ng-if="!$ctrl.reverse">
        <div class="col-lg-6 features-text wow fadeInLeft">
            <small>{{$ctrl.highlight | translate}}</small>
            <h2>{{$ctrl.title | translate}}</h2>
            <p translate="{{$ctrl.content}}"></p>
            <a ng-if="$ctrl.link" ng-href="{{$ctrl.link}}" class="btn btn-primary">{{$ctrl.action | translate}}</a>
        </div>
        <div class="col-lg-6 text-right">
            <!--<div class="embed-responsive embed-responsive-4by3 pull-right">-->
            <div class="embed-responsive embed-responsive-16by9">
                <iframe ng-repeat="video in videoList" class="embed-responsive-item" ng-src="{{video}}" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div ng-if="$ctrl.reverse">

        <div class="col-lg-6 text-left">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe ng-repeat="video in videoList" class="embed-responsive-item" ng-src="{{video}}" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                <!--<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/lbgXp5qen2g" allowfullscreen></iframe>-->
            </div>
        </div>
        <div class="col-lg-6 text-right wow fadeInRight">
            <small>{{$ctrl.highlight | translate}}</small>
            <h2>{{$ctrl.title | translate}}</h2>
            <p translate="{{$ctrl.content}}"></p>
            <a ng-if="$ctrl.link" ng-href="{{$ctrl.link}}" class="btn btn-primary">{{$ctrl.action | translate}}</a>
        </div>
    </div>
</div>