<!--<div class="visible-md" style="margin-top: 50px"></div>-->
<!--<div class="hidden-lg hidden-md" style="margin-top: 66px"></div>-->
<div class="visible-sm" style="margin-top: 66px"></div>
<div class="visible-xs" style="margin-top: 54px"></div>
<div id="inSlider" class="carousel carousel-fade" data-ride="carousel">

	<div uib-carousel interval="interval" active="active" ng-style="{height: 'auto'}">
		<div uib-slide ng-repeat="photo in $ctrl.items"  index="$index" class="item" ng-style="{height: 'auto'}">
			<img class="img-responsive" ng-src="{{photo.image}}" style="margin:auto; max-height: 500px">
			<div class="carousel-caption">
				<h4 translate="{{photo.header}}"></h4>
				<p translate="{{photo.description}}"></p>
			</div>
			<div ng-if="photo.special" class="carousel-image wow zoomIn">
				<img ng-src="{{photo.special}}" alt="laptop"/>
			</div>
		</div>
	</div>

	<!--<ol class="carousel-indicators">-->
		<!--<li ng-repeat="item in $ctrl.items" data-target="#inSlider" data-slide-to="{{$index}}" ng-class="{active: $first}"></li>-->
	<!--</ol>-->
	<!--<div class="carousel-inner" role="listbox">-->
		<!--<div ng-repeat="photo in $ctrl.items" class="item" ng-class="{active: $first}">-->
			<!--<div class="container">-->
				<!--<div class="carousel-caption">-->
					<!--<h1 translate="{{photo.header}}"></h1>-->
					<!--<p translate="{{photo.description}}"></p>-->
					<!--&lt;!&ndash;<p>&ndash;&gt;-->
					<!--&lt;!&ndash;<a class="btn btn-lg btn-primary" href="#" role="button">READ MORE</a>&ndash;&gt;-->
					<!--&lt;!&ndash;<a class="caption-link" href="#" role="button">Inspinia Theme</a>&ndash;&gt;-->
					<!--&lt;!&ndash;</p>&ndash;&gt;-->
				<!--</div>-->
				<!--<div ng-if="photo.special" class="carousel-image wow zoomIn">-->
					<!--<img ng-src="{{photo.special}}" alt="laptop"/>-->
				<!--</div>-->
			<!--</div>-->
			<!--&lt;!&ndash; Set background for slide in css &ndash;&gt;-->
			<!--<div class="header-back" ng-style="{'background': 'url(' + photo.image+ ') 50% 0 no-repeat'}"></div>-->

		<!--</div>-->
	<!--</div>-->
	<!--<a class="left carousel-control" href="#inSlider" role="button" data-slide="prev">-->
		<!--<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>-->
		<!--<span class="sr-only">Previous</span>-->
	<!--</a>-->
	<!--<a class="right carousel-control" href="#inSlider" role="button" data-slide="next">-->
		<!--<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>-->
		<!--<span class="sr-only">Next</span>-->
	<!--</a>-->
</div>