<div class="navbar-wrapper">
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header page-scroll">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">{{'SIDE_TITLE' | translate}}</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li ng-repeat="(key, value) in $ctrl.navItems"><a class="page-scroll" href="{{value}}" target="_self">{{key | translate}}</a></li>
					<li ng-if="$ctrl.sideBarId"><a class="page-scroll" ng-click="openSettings($ctrl.sideBarId)">{{'NAV_SETTING' | translate}}</a></li>
				</ul>
			</div>
		</div>
	</nav>
</div>