<md-content>
	<navigation-bar nav-items="$ctrl.navItems" side-bar-id="'right'"></navigation-bar>

	<side-bar side-title="'SIDE_TITLE'" side-bar-id="'right'" languages="$ctrl.languages" details="4" title-prefix="'PROFILE_'" content-prefix="'PROFILE_CONTENT_'"></side-bar>

	<photo-banner items="$ctrl.bannerItems.data"></photo-banner>

	<!-- projects -->
	<section id="projects" class="container features">
		<feature-layer header="'FEATURE_HEADER'" highlight="'FEATURE_HIGHLIGHT'" description="'FEATURE_DESCRIPTION'"
					   left-features="$ctrl.feature.data.left" right-features="$ctrl.feature.data.right" feature-img="$ctrl.feature.data.image"></feature-layer>
	</section>

	<!-- companies -->
	<section id="timeline" class="timeline gray-section">
		<timeline-layer header="'TIMELINE_HEADER'" description="'TIMELINE_DESCRIPTION'" timeline="$ctrl.timeline.data"></timeline-layer>
	</section>

	<!-- Full stack developer: Server side, Client side, Dev Ops (in photo) -->
	<section id="experience" class="container features">
		<side-feature-layer header="'SIDE_FEATURE_HEADER'" description="'SIDE_FEATURE_DESCRIPTION'" highlight="'SIDE_FEATURE_HIGHLIGHT'"
							title="'SIDE_FEATURE_TITLE'" content="'SIDE_FEATURE_CONTENT'" photo="$ctrl.sideFeature.data.photo"
							action-text="'SIDE_FEATURE_ACTION_TEXT'"
							action="showPhoto('SIDE_FEATURE_ACTION_TEXT', $ctrl.sideFeature.data.skillPhoto)" reverse="true"></side-feature-layer>
	</section>

	<!-- side experience: Organization, Training / Mentor, Presentation, Design,  -->
	<section class="features">
		<addition-features-layer header="'ADDITION_HEADER'" description="'ADDITION_DESCRIPTION'" addition-features="$ctrl.addition.data"></addition-features-layer>
	</section>

	<!-- Full stack developer: Server side, Client side, Dev Ops (in photo) -->
	<section id="certificates" class="container features">
		<side-feature-layer header="'CERTIFICATE_HEADER'" description="'CERTIFICATE_DESCRIPTION'" highlight="'CERTIFICATE_HIGHLIGHT'"
							title="'CERTIFICATE_TITLE'" content="'CERTIFICATE_CONTENT'" photo="$ctrl.certificates.data.photo"
							action-text="'CERTIFICATE_ACTION_TEXT'"
							action="showPhoto('CERTIFICATE_ACTION_TEXT', $ctrl.certificates.data.skillPhoto)"></side-feature-layer>
	</section>

	<!-- References: Pham Thanh Chuong, Long Nguyen, Son Pham -->
	<section id="team" class="gray-section team">
		<team-layer header="'TEAM_HEADER'" description="'TEAM_DESCRIPTION'" summary="'TEAM_SUMMARY'" members="$ctrl.team.data"></team-layer>
	</section>

	<section id="contact" class="contact">
		<contact-layer header="'CONTACT_HEADER'" description="$ctrl.contact.data.description" company="$ctrl.contact.data.company" summary="$ctrl.contact.data.summary"></contact-layer>
	</section>
</md-content>

<script src="custom_components/ui-core/ui-core.classie.js"></script>
<script src="custom_components/ui-core/ui-core.cbpAnimatedHeader.js"></script>
<script src="custom_components/ui-core/ui-core.inspinia.js"></script>

<!-- Load Facebook SDK for JavaScript -->
<!--<div id="fb-root"></div>-->
<!--<script>(function(d, s, id) {-->
    <!--var js, fjs = d.getElementsByTagName(s)[0];-->
    <!--if (d.getElementById(id)) return;-->
    <!--js = d.createElement(s); js.id = id;-->
    <!--js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js#xfbml=1&version=v2.12&autoLogAppEvents=1';-->
    <!--fjs.parentNode.insertBefore(js, fjs);-->
<!--}(document, 'script', 'facebook-jssdk'));</script>-->

<!--&lt;!&ndash; Your customer chat code &ndash;&gt;-->
<!--<div class="fb-customerchat"-->
	 <!--attribution=setup_tool-->
	 <!--page_id="161896857279521"-->
	 <!--logged_in_greeting="Hi! How can we help you?"-->
	 <!--logged_out_greeting="Hi! How can we help you?">-->
<!--</div>-->