<md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="{{$ctrl.sideBarId}}">
<!--<md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="'right'">-->
    <md-toolbar md-colors="::{background: '{{theme}}-700'}">
        <h1 class="md-toolbar-tools">{{$ctrl.sideTitle | translate}}</h1>
    </md-toolbar>
    <md-content layout-padding>
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="btn-group">
                        <label ng-repeat="key in $ctrl.languages" class="btn btn-default" ng-model="$parent.language" uib-btn-radio="'{{key}}'" ng-change="$parent.changeLanguage(key)">
                            <span ng-class="['flag-icon', 'flag-icon-' + key]"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div ng-repeat="detail in details" class="form-group">
                <label class="col-sm-4 control-label">{{detail.title | translate}}</label>
                <div class="col-sm-8">
                    <p class="text-left" ng-style="{'padding-top' : '7px'}" translate="{{detail.content}}"></p>
                </div>
            </div>
        </div>
        <!--<div class="form-group">-->
            <!--<div class="col-sm-offset-1 col-sm-10">-->
                <!--<md-button ng-click="closeSetting($ctrl.sideBarId)" class="btn btn-primary btn-block">-->
                    <!--{{'BTN_CANCEL' | translate}}-->
                <!--</md-button>-->
            <!--</div>-->
        <!--</div>-->
    </md-content>
</md-sidenav>