<navigation-bar nav-items="$ctrl.navItems"></navigation-bar>

<photo-banner items="$ctrl.bannerItems.data"></photo-banner>

<!--<section class="container features">-->
	<!--<video-layer header="$ctrl.video2.data.header" description="$ctrl.video2.data.description"-->
				 <!--highlight="$ctrl.video2.data.highlight" title="$ctrl.video2.data.title" content="$ctrl.video2.data.content"-->
				 <!--video="'https://www.youtube.com/embed/-hX3DIHDMpI'"></video-layer>-->
<!--</section>-->

<section id="pricing" class="pricing">
	<pricing-layer header="'PRICE_HEADER'" description="'PRICE_DESCRIPTION'" prices="$ctrl.pricing.data"></pricing-layer>
</section>

<section id="features" class="gray-section container features">
	<video-layer header="$ctrl.video.data.header" description="$ctrl.video.data.description"
				 highlight="$ctrl.video.data.highlight" title="$ctrl.video.data.title" content="$ctrl.video.data.content"
				 video="'https://www.youtube.com/embed/-hX3DIHDMpI'"></video-layer>
</section>

<section id="contact" class="contact">
	<contact-layer header="$ctrl.contact.data.header" description="$ctrl.contact.data.description" company="$ctrl.contact.data.company" summary="$ctrl.contact.data.summary"></contact-layer>
</section>

<div id="wh-widget-send-button" class=" wh-widget-right" style="width: 345px; height: 464px;">
	<iframe id="wh-widget-send-button-iframe"
			src="http://whatshelp.io/widget/wSendButton?facebook=1561277354084352&amp;company_logo_url=%2F%2Fstorage.whatshelp.io%2Fwidget%2F11%2F1146%2F1146f5282d51690b78e8ca5f8d254288%2F26907793_2049831061895643_150411646700391432_n.jpg&amp;greeting_message=Hello%2C%20how%20may%20we%20help%20you%3F%20Just%20send%20us%20a%20message%20now%20to%20get%20assistance.&amp;call_to_action=Message%20us&amp;position=right&amp;ga=false&amp;branding=true&amp;mobile=true&amp;desktop=true&amp;shift_vertical=0&amp;shift_horizontal=0&amp;domain=null&amp;key=null&amp;button_color=%23ff6550&amp;parentWrapperId=wh-widget-send-button&amp;clientHostname=localhost&amp;showHelloPopup=0&amp;isMobile=0"></iframe>
</div>

<script src="custom_components/ui-core/ui-core.classie.js"></script>
<script src="custom_components/ui-core/ui-core.cbpAnimatedHeader.js"></script>
<script src="custom_components/ui-core/ui-core.inspinia.js"></script>

<!-- Load Facebook SDK for JavaScript -->
<!--<div id="fb-root"></div>-->
<!--<script>(function(d, s, id) {-->
    <!--var js, fjs = d.getElementsByTagName(s)[0];-->
    <!--if (d.getElementById(id)) return;-->
    <!--js = d.createElement(s); js.id = id;-->
    <!--js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js#xfbml=1&version=v2.12&autoLogAppEvents=1';-->
    <!--fjs.parentNode.insertBefore(js, fjs);-->
<!--}(document, 'script', 'facebook-jssdk'));</script>-->

<!--&lt;!&ndash; Your customer chat code &ndash;&gt;-->
<!--<div class="fb-customerchat"-->
	 <!--attribution=setup_tool-->
	 <!--page_id="161896857279521"-->
	 <!--logged_in_greeting="Hi! How can we help you?"-->
	 <!--logged_out_greeting="Hi! How can we help you?">-->
<!--</div>-->