<div class="col-md-12">
    <form name="info">
        <div class="form-group" ng-class="{'has-error': info.description.$invalid}">
            <label>{{'Fields' | translate}} <span class="text-danger"></span></label>
            <div>
                <div class="col-sm-6 col-xs-6" data-columnindex="1" id="column1">
                    <div class="column">
                        <div class="columnHeader">
                            <div class="pull-right">
                                <a title="Display all fields" ng-click="switchAll(true)"><i
                                        class="fa fa-forward"></i> &nbsp</a>
                            </div>
                            <span>{{'HiddenFields' | translate }}</span>
                        </div>
                        <ul class="cards card-list" as-sortable="sortOptions" data-ng-model="hiddenList">
                            <li class="card" ng-repeat="fieldName in hiddenList" as-sortable-item>
                                <!--<ul class="cards card-list" as-sortable="sortOptions" data-ng-model="fieldNames">-->
                                <!--<li class="card" ng-repeat="fieldName in fieldNames | filter: {visible : false} | orderBy:'order'" as-sortable-item>-->
                                <div  as-sortable-item-handle>
                                    <div class="row">
                                        <div class="col-sm-10 col-xs-10">
                                            <!--<span class="btn-link"><a data-no-drag target=_top href="https://github.com/a5hik/ng-sortable">test no-drag href</a></span>-->
                                            <span class="card-title">{{fieldName.displayName}}</span>
                                        </div>
                                        <div class="col-sm-2 col-xs-2">
                                            <div class="pull-right">
                                                <a class="btn btn-xs" ng-click="switchMode($index, true)"><span data-no-drag class="fa fa-plus"></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-6" data-columnindex="2" id="column2">
                    <div class="column">
                        <div class="columnHeader">
                            <span>{{'DisplayFields' | translate }}</span>
                            <div class="col-xs-2">
                                <div class="pull-right">
                                    <a title="Hide all fields" ng-click="switchAll(false)"><i
                                            class="fa fa-backward"></i></a>
                                </div>
                            </div>
                        </div>
                        <ul class="cards card-list"  as-sortable="sortOptions" data-ng-model="displayList">
                            <li class="card" ng-repeat="fieldName in displayList" as-sortable-item>
                                <!--<ul class="cards card-list"  as-sortable="sortOptions" data-ng-model="fieldNames">-->
                                <!--<li class="card" ng-repeat="fieldName in fieldNames | filter: {visible : true} | orderBy:'order'" as-sortable-item>-->
                                <div as-sortable-item-handle>
                                    <div class="row">
                                        <div>
                                            <div class="col-sm-10 col-xs-10">
                                                <!--<span class="btn-link"><a data-no-drag target=_top href="https://github.com/a5hik/ng-sortable">test no-drag href</a></span>-->
                                                <span class="card-title">{{fieldName.displayName}}</span>
                                                <!--<span class="card-title"><input name="{{fieldName.displayName}}" ng-model="fieldName.displayName" ></span>-->
                                            </div>
                                            <div class="col-sm-2 col-xs-2">
                                                <div class="pull-right">
                                                    <!--<a data-no-drag class=" removeCard pull-right btn btn-xs" ng-click="removeCard(column, card)"><span-->
                                                    <!--class="glyphicon glyphicon-remove"></span></a>-->
                                                    <a class="btn btn-xs" ng-click="switchMode($index, false)"><span data-no-drag class="fa fa-minus"></span></a>
                                                    <!--<a data-no-drag class=" removeCard pull-right btn btn-xs" ng-click="removeCard(column, card)"><span-->
                                                    <!--class="glyphicon glyphicon-remove"></span></a>-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>