<toaster-container></toaster-container>
<div class="passwordBox animated fadeInDown">
	<div class="row">
		<div class="col-md-12">
			<div class="ibox-content" style='padding: 40px; border-radius: 6px;'>
				<div class='text-center'>
					<img alt="" ng-src="{{loginLogo}}">
				</div>
				<form class="m-t">
					<!-- <div class="form-group">
						<select class="form-control m-b" 
							data-ng-model="user.timeZone"
							data-ng-options="num for num in timeZoneList">
						</select>
					</div> -->
					<div class="form-group">
						<input type="email" data-ng-model="user.userEmail" show-focus="emailFocus" class="form-control" placeholder="Email address">
					</div>
					<div class="form-group">
						<input type="password" data-ng-model="user.userPasswd" fms_enter="$ctrl.login()" class="form-control" placeholder="Password">
					</div>
					<button class="btn btn-success block full-width m-b"  ng-click="$ctrl.login()">Login</button>
		
					<!-- <a ui-sref="forgot_password"><small>Forgot password?</small></a> -->
					<!-- <p class="text-muted text-center" style='border-top: 1px solid #eee; margin: 15px 0; padding-top: 10px;'><small>Do not have an account?</small></p> -->
					<!-- <a class="btn btn-sm btn-white btn-block" ui-sref="registration">Create an account</a> -->
					  
					<p class="m-t"><center><small>Copyright FORCS Singapore &copy; 2017</small> </center></p>
					
				</form>
			</div>
		</div>
		
	</div>
</div>